button {
    width: 128px;
    height: 56px;
    border: none;
    background-color: #cccccc;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #acacac;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.selected {
    background-color: rgb(153, 153, 226);
}